<div class="bg-light lter b-b wrapper">
    <h1 class="m-n font-thin h3">验票员-密码</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>请在此创建车站账号</strong>
        </div>
        <div class="row wrapper">
            <div class="col-sm-6 m-b-xs">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">归属车站：</label>
                        <div class="col-sm-9">
                            <input type="text" data-ng-model="vm.Account.stationName" class="form-control m-b" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">验票账号：</label>
                        <div class="col-sm-9">
                            <input type="text" data-ng-model="vm.Account.username" class="form-control m-b" readonly>
                        </div>

                    </div>
                    <!--<div class="form-group">
                        <label class="col-sm-3 control-label">登录密码：</label>
                        <div class="col-sm-9">
                            <input type="text" data-ng-model="vm.Account.passWord" class="form-control m-b" readonly>
                        </div>
                    </div>-->
                   <!-- <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button class="btn btn-sm btn-primary" data-ng-click="vm.goHistory()">返回</button>
                            <button type="submit" class="btn btn-sm btn-info" data-ng-click="vm.createAccount()">保存</button>
                        </div>
                    </div>-->
                </form>
            </div>
        </div>
    </div>
</div>