<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
  <!-- brand -->
  <a href="#/app/dashboard-v1" class="navbar-brand text-lt">
    <i class="fa-undunion"></i>
    <!--<img src="img/logo.png" alt="." class="hide">-->
  </a>
  <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
  <div class="nav navbar-nav hidden-xs">
    <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
      <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
    </a>
    <!--<a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
      <i class="icon-user fa-fw"></i>
    </a>-->
  </div>
  <!-- nabar right -->
  <!--<ul class="nav navbar-nav navbar-right">
    <li class="hidden-xs">
      <a ui-fullscreen></a>
    </li>
    <li class="dropdown" dropdown>
      <a href class="dropdown-toggle clear" dropdown-toggle>
        <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
          <img src="img/a0.jpg" alt="...">
          <i class="on md b-white bottom"></i>
        </span>
        <span class="hidden-sm hidden-md">{{showUserName}}</span>
        <b class="caret"></b>
      </a>
      &lt;!&ndash; dropdown &ndash;&gt;
      <ul class="dropdown-menu animated fadeInRight w">
        <li>
          <a data-ng-click="logout()">退出</a>
        </li>
      </ul>
      &lt;!&ndash; / dropdown &ndash;&gt;
    </li>
  </ul>-->
  <!-- / navbar right -->

</div>
<!-- / navbar collapse -->
