<div class="lg-box">
    <div class="login-icon"></div>
    <!--<h1>账号登录</h1>-->
    <p class="slogan">移动出行技术服务商</p>
        <div class="lg-content">
        <div class="lg-item">
            <p>用户名</p>
            <input type="text" class="inp" id="phone" placeholder="请输入用户名" data-ng-model="vm.username">
        </div>
        <div class="lg-item">
            <p>密码</p>
            <input class="inp" type="password" id="password" placeholder="请输入密码" data-ng-model="vm.password">
        </div>
        <div class="lg-item" data-ng-show="vm.isShowLoginVerifyCode">
            <p>验证码</p>
            <div class="clearfix">
                <input type="text" class="inp small-inp pull-left"  data-ng-model="vm.verifyCode" id="verifyCode"
                       placeholder="请输入验证码"/>
                <img class="lg-verify pull-left" data-ng-click="vm.verifyCodeFresh()" data-ng-src="{{vm.verifyCodePic}}">
            </div>

        </div>
        <div class="lg-item clearfix">
            <label class="form-checkbox pull-left">
                <i class="icon icon-checkbox" data-ng-class="{'icon-checkbox-active':vm.remember}"></i>记住密码
                <input type="checkbox" data-ng-model="vm.remember" class="hide" />
            </label>
            <input class="lg-btn pull-right" readonly="readonly"
                   value="{{vm.loginBtn.text}}" data-ng-disabled="vm.loginBtn.disabled"
                   data-ng-click="vm.loginBtn.login()">
        </div>
    </div>
</div>

