<div class="bg-light lter b-b wrapper">
    <h1 class="m-n font-thin h3">账单汇总</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="wrapper pad-b-0">
            <div class="filter-condition min-hg-290 clearfix p-b-20">
                <div class="condition-top clearfix">
                    <div class="con-left">
                        <div class="group">
                            <label>订单号：</label>
                            <input type="text" data-ng-model="search.code" class="inp larger" placeholder="请输入订单号"
                                   maxlength="50"/>
                        </div>
                        <div class="group">
                            <label>产品类别：</label>
                            <select class="inp larger" data-ng-model="search.productTypeLevelOne"
                                    data-ng-options="x.code as x.name for x in vm.productTypes">
                            </select>
                        </div>
                        <div class="group">
                            <label>销售类型：</label>
                            <select class="inp larger" data-ng-options="type.status as type.name for type in vm.saleTypes"
                                    data-ng-model="search.type">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="con-right">
                        <div class="group">
                            <label>起止日期：</label>
                            <input id="from" type="text" readonly="readonly" date-pick format="YYYY-MM-DD"
                                   data-ng-model="search.startDate"  class="inp small"/>
                            <span class="mg-10">至</span>
                            <input id="to" type="text" readonly="readonly" date-pick format="YYYY-MM-DD"
                                   data-ng-model="search.endDate" class="inp small"/>
                            <a data-ng-class="{'active':vm.seven==1}" class="day-box"
                               data-ng-click="vm.sevenDayList()">近7天</a>
                            <a data-ng-class="{'active':vm.month==1}" class="day-box mg-10"
                               data-ng-click="vm.monthList()">近30天</a>
                        </div>
                        <div class="group">
                            <label>企业名称：</label>
                            <select class="inp larger" data-ng-options="shop.id as shop.name for shop in vm.shopNames" data-ng-model="search.storeId">
                                <option value="">全部</option>
                            </select>
                        </div>
                        <div class="group">
                            <label>支付渠道：</label>
                            <select class="inp larger" data-ng-options="payChannel.status as payChannel.name for payChannel in vm.payChannels" data-ng-model="search.payAccount">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="con-bottom clearfix">
                    <a class="btn w-xs btn-info" data-ng-click="searchFunction()">筛选</a>
                    <a class="btn w-xs btn-default" data-ng-click="cancelSearch()">清空条件</a>
                    <a class="btn w-xs btn-default" data-ng-click="exprot()">批量导出</a>
                    <!--<span class="state-total">&nbsp;&nbsp;&nbsp;&nbsp;订单线上金额合计：{{vm.totalMoney}}元</span>-->
                </div>
            </div>
        </div>
        <div class="wrapper">
            <table class="table table-bordered table-hover table-condensed bg-white-only">
                <thead>
                <tr>
                    <th class="text-left">结算时间</th>
                    <th>订单号</th>
                    <th>企业</th>
                    <th>销售类型</th>
                    <th>产品类别</th>
                    <th>购买票数（张）</th>
                    <th>退票数（张）</th>
                    <th>票价</th>
                    <th>手续费</th>
                    <th>保险</th>
                    <th>退票额</th>
                    <th>折扣券</th>
                    <th>分销</th>
                    <th>共享</th>
                    <th>连接手续费</th>
                    <th>连接保险</th>
                    <th>连接佣金</th>
                    <th>银行手续费</th>
                    <th>保险公司</th>
                    <th>企业收入</th>
                    <th>连接收入</th>
                    <th class="text-right">支付渠道</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="data in options.dataList">
                    <td class="text-left">{{data.createdTime.split(' ')[0] ||'暂无'}}</td>
                    <td>{{data.code}}</td>
                    <td>{{data.brandName }}</td>
                    <td>
                            <span data-ng-if="data.type==0">自销</span>
                            <span data-ng-if="data.type==1">共享</span>
                            <span data-ng-if="data.type==2">分销</span>
                    </td>
                    <td>{{data.productTypeLevelOne | productName}}</td>
                    <td>{{data.ticketNum}}</td>
                    <td>{{data.refundTicketNum}}</td>
                    <td>{{data.ticketAmount | number: 2}}</td>
                    <td>{{data.serviceFee | number: 2}}</td>
                    <td>{{data.insuranceAmount | number: 2}}</td>
                    <td>{{data.refundAmount | number: 2}}</td>
                    <td>{{data.discountAmount | number: 2}}</td>
                    <td>{{data.distributionAmount | number: 2}}</td>
                    <td>{{data.distributionCommission | number: 2}}</td>
                    <td>{{data.platformServiceCommission | number: 2}}</td>
                    <td>
                        <span data-ng-if="data.insuranceIncome==0&&data.insureCommission==0">0.00</span>
                        <span data-ng-if="data.insuranceIncome!=0||data.insureCommission!=0">{{data.insuranceIncome+data.insureCommission | number: 2}}</span>
                    </td>
                    <td>
                        <span>{{data.platformCommission | number: 2}}</span>
                    </td>
                    <td>
                        <span>{{data.platformCostCommission | number: 2}}</span>
                    </td>
                    <td>
                        <span data-ng-if="data.insuranceIncome==0">{{data.insuranceIncome | number: 2}}</span>
                        <span data-ng-if="data.insuranceIncome!=0">{{data.insuranceIncome | number: 2}}</span>
                    </td>
                    <td>{{data.total | number: 2}}</td>
                    <td>{{data.commission + data.insuranceIncome | number: 2}}</td>
                    <td class="text-right">
                        <span data-ng-if="data.payAccount==null">连接</span>
                        <span data-ng-if="data.payAccount==0">连接</span>
                        <span data-ng-if="data.payAccount==1">企业</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <page-data options="options"></page-data>
        </div>
    </div>
    <!--汇总结束-->
</div>